@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ml-50percentage {
  margin-left: 6rem;
}

.hover-to-show { 
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.hover-to-show-link:hover .hover-to-show {
  visibility: visible;
  opacity: 1;
  transition: all .2s ease-in-out;
}

.image-container {
  position: relative; /* For absolute positioning of any pseudo elements*/
  overflow: hidden; /* Ensure overlay doesn't extend outside the container */
  display: inline-block; /* allows width to work */
}
.image {
    transition: box-shadow 0.1s ease-in-out;
}

.image-container:hover .image {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

